@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fontsource/poppins";
.nav-lg{
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(500px);
  z-index: 1000;
}

.nav-sm{
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}



.main-bg{
  height: 100vh;
  width: 100%;
  background-image: url("/public/Images/yacht.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 13%;
}

.main-page-heading{
  font-family: "Poppins";
  font-size: 4rem;
  color: #36ff54;
}

footer{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1ebeff;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-input-footer{
  /*width: 50%;*/
  display: flex;
  justify-content: end;
}
.email-input-footer>input{
  width: 50%;
}

@media (max-width: 768px) {
  .email-input-footer > input {
    width: 100%;
  }

  .email-input-footer > button {
    margin-top: 0.2rem;
    align-self: center;
  }

  #news-letters > div {
    width: 100% !important;
  }

  .email-input-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}


/*@media (min-width: 768px) {*/
/*  .email-input-footer{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*  }*/
/*}*/



.filter-div{
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.model-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.model-list>ul{
  padding-top: 0;
  padding-left: 1.5rem;
  margin: 0;
}

.ant-dropdown-menu {
  max-height: 150px;
}

.ant-input-number-group-addon{
  border-inline-end: 0;
  background-color: white !important;
}

